<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  
  <connectionStrings>
    <add name="ConnectionString" connectionString="server=localhost; database=Makalu; User ID=Makalu; Password=MakaluUser12!; Port= 3308;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="CalendarFilePath" value="D:\projects\makalu\Greg_Mastrangelo_m680oj07q2g6o1fpordcs7chp0@group.calendar.google.com.ics" />
  </appSettings>
    
</configuration>