<div class="modal-header">
    <h4 class="modal-title pull-left">{{vm.message}}</h4>
    <a href="javascript:void(0);" ng-click="vm.close()" class="pull-right"><i class="fa fa-remove"></i></a>
</div>

<div class="modal-body table-responsive">
    <div class="row">
        <div class="pull-right search-single">
            <div class="form-group form-md-line-input form-md-floating-label">
                <select class="form-control input-small" id="search-option" ng-model="vm.searchOption"
                        ng-change="vm.resetSeachOption()"
                        ng-options="item.value as item.display for item in vm.searchOptions">
                    <option selected disabled hidden style='display: none' value=''></option>
                </select>
                <label for="search-option">Search Options</label>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-bordered" id="sample_1" aria-describedby="sample_1_info" style="margin-bottom:0px">
            <thead>
                <tr role="row" style="background-color: #dddddd !important">
                    <th style="width: 120px; min-width: 120px; max-width: 120px;text-align: center;">
                        Date
                    </th>
                    <th style="width: 120px; min-width: 120px; max-width: 120px;text-align: center;">
                        Duration
                    </th>
                    <th style="width: 150px; min-width: 150px; max-width: 150px;text-align: center;">
                        Franchisee Name
                    </th>
                    <th style="width: 100px; min-width: 100px; max-width: 100px;text-align: center;">
                        Send By
                    </th>
                    <th style="width: 100px; min-width: 100px; max-width: 100px;text-align: center;" ng-if="vm.searchOption==153">
                        Action
                    </th>
                    <th style="width: 100px; min-width: 100px; max-width: 100px;text-align: center;" ng-if="vm.searchOption==151">
                        Approved By
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-if="vm.durationApprovalList.length > 0 && vm.searchOption==151" ng-repeat="item in vm.durationApprovalList  | filter:{ statusId : vm.searchOption } | orderBy : '-addDate'">
                    <td style="width: 120px; min-width: 120px; max-width: 120px;text-align: center;">{{item.addDate |date:'M/d/yyyy'}}</td>
                    <td style="width: 120px; min-width: 120px; max-width: 120px;text-align: center;">{{item.duration}}</td>
                    <td style="width: 120px; min-width: 120px; max-width: 120px;text-align: center;">{{item.franchiseeName}}</td>
                    <td style="width: 120px; min-width: 120px; max-width: 120px;text-align: center;">{{item.userName}}</td>
                    <td style="width: 120px; min-width: 120px; max-width: 120px;text-align: center;" ng-if="vm.searchOption==151">{{item.approvedByUserName}}</td>
                    <td style="width: 120px; min-width: 120px; max-width: 120px;text-align: center;" ng-if="vm.searchOption==153">
                        <button ng-click="vm.changeDurationStatus(item,151)" class="btn blue">
                            Approved
                        </button>
                    </td>
                </tr>
                <tr ng-if="vm.durationApprovalList.length > 0 && vm.searchOption != 151" ng-repeat="item in vm.durationApprovalList  | filter:{ statusId : vm.searchOption } | orderBy : '-addDateTime'">
                    <td style="width: 120px; min-width: 120px; max-width: 120px;text-align: center;">{{item.addDate |date:'M/d/yyyy'}}</td>
                    <td style="width: 120px; min-width: 120px; max-width: 120px;text-align: center;">{{item.duration}}</td>
                    <td style="width: 120px; min-width: 120px; max-width: 120px;text-align: center;">{{item.franchiseeName}}</td>
                    <td style="width: 120px; min-width: 120px; max-width: 120px;text-align: center;">{{item.userName}}</td>
                    <td style="width: 120px; min-width: 120px; max-width: 120px;text-align: center;" ng-if="vm.searchOption==151">{{item.approvedByUserName}}</td>
                    <td style="width: 120px; min-width: 120px; max-width: 120px;text-align: center;" ng-if="vm.searchOption==153">
                        <button ng-click="vm.changeDurationStatus(item,151)" class="btn blue">
                            Approved
                        </button>
                    </td>
                </tr>
                <tr ng-if="vm.isEmpty">
                    <td style="text-align:center" colspan="5">No Result Found</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn default" ng-click="vm.close();">Cancel</button>
</div>
