<div>
    <form class="forget_form" name="forget_form" method="post" style="display: block;">
        <p>
            Enter your e-mail address below to reset your password.
        </p>
        <div class="form-group form-md-line-input form-md-floating-label">
            <input class="form-control placeholder-no-fix" type="text" autocomplete="off" name="email" ng-model="model.email" required>
            <label for="email">Email<span class="required" aria-required="true"> * </span></label>
        </div>
        <div class="form-actions clearfix text-right">
            <button type="button" id="back-btn" class="btn btn-link" ng-click="vm.goToLogin()">Back</button>
            <button type="submit" class="btn btn-primary uppercase" ng-click="vm.sendLink(model)" ng-disabled="forget_form.$invalid">Submit</button>
        </div>
    </form>
</div>