<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="ConnectionString" connectionString="server=localhost; database=Makalu; User ID=Makalu; Password=MakaluUser12!; Port= 3308;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="FromEmail" value="test_support@marblelife.com" />
    <add key="CompanyName" value="Marble Life" />
    <add key="SmtpHost" value="smtp.sendgrid.net" />
    <add key="SmtpPort" value="587" />
    <add key="SmtpUserName" value="srikeerti@taazaa.com" />
    <add key="SmtpPassword" value="pass1234" />
    <add key="DefaultTimeZone" value="India Standard Time" />
    <!--Task Scheduler Cron Expressions -->
    <add key="EmailNotificationServiceCronExpression" value="0 0/2 * 1/1 * ? *" />
    <add key="InvoiceGenerationCronExpression" value="0 0/2 * 1/1 * ? *" />
    <add key="SalesDataParseCronExpression" value="0 0/2 * 1/1 * ? *" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="EnableSsl" value="true" />
    <add key="MediaRootPath" value="D:\Projects\MarbleLife\Media" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>