<style type="text/css">
    <style type="text/css" >
    hr.rounded {
        border-top: 0px solid #bbb;
        border-radius: 5px;
        margin: 2px !important;
    }

    .is-best-image.is-add-to-galary-image {
        height: 377px !important;
    }

    .is-best-image.not-is-add-to-galary-image {
        height: 377px !important;
    }

    .numberCircle {
        border-radius: 50%;
        width: 60px;
        height: 41px;
        padding: 8px;
        background: #fff;
        border: 2px solid #666;
        color: #666;
        text-align: center;
        font: 14px Arial, sans-serif;
    }

    .img-class-commercial {
        width: 100%;
        margin: 0px;
        max-width: 100%;
        max-height: 300px;
    }

    .img-class-exterior {
        width: 100%;
        margin: 0px;
        max-width: 100%;
        max-height: 300px;
        object-fit: cover;
        object-position: center center;
    }

    .img-class {
        width: 100%;
        margin: 0px;
        max-width: 100%;
        max-height: 200px;
        object-fit: cover;
        object-position: center center;
    }

    .div-style {
        background: #e6e6e6;
        border: 2px solid #333;
    }

    .mbl-switch + label {
        position: relative;
        width: 70px;
        border: 1px solid #b9b9b9;
        border-radius: 4px;
        margin: 0;
        height: 22px;
        cursor: pointer;
    }

    .flex-1 {
        flex: 1;
    }

    .d-flex {
        display: flex;
    }

    .is-best-image {
        border: 5px solid lightblue;
        height: 377px !important;
    }

        .is-best-image.is-add-to-galary-image {
            height: 377px !important;
        }

        .is-best-image.not-is-add-to-galary-image {
            height: 377px !important;
        }

    .not-best-image {
        border: 0px solid lightblue;
    }

    .is-add-to-galary-image {
        border: 5px solid #26327e !important;
        /*        margin-bottom:36px !important;*/
    }

    .not-is-add-to-galary-image {
        border: 0px solid lightblue !important;
        /*        margin-bottom: 36px;*/
    }

    .mbl-switch2 {
        display: none;
    }

        .mbl-switch2 + label:after {
            position: absolute;
            width: 34px;
            content: 'No';
            background-color: #b9b9b9;
            top: 1px;
            color: #fff;
            font-size: 12px;
            height: 18px;
            text-align: center;
            border-radius: 3px;
            left: auto;
            right: 1px;
            width: 37% !important;
        }

        .mbl-switch2 + label {
            position: relative;
            width: 70px;
            border: 1px solid #b9b9b9;
            border-radius: 4px;
            margin: 0;
            height: 22px;
            cursor: pointer;
        }

        .mbl-switch2:checked + label:after {
            content: 'Yes';
            background-color: #578ebe;
            left: 1px;
            width: 37% !important;
        }

    .reviewed {
        background-color: green;
        color: white;
    }

    .notReviewed {
        background-color: red;
        color: white;
    }

    .enabled {
        background: lightblue !important;
    }

    .disabled {
        background: #fff;
    }

    .flex-1 {
        flex: 1;
    }

    .d-flex {
        display: flex;
    }

        .d-flex:hover {
            cursor: pointer;
        }

    .search-single {
        margin-right: 15px;
        display: inline-block;
        text-align: left;
    }

    .text-align {
        text-align: right;
    }

    @media only screen and (max-width: 600px) {
        .select-width {
            width: 99% !important;
        }

        .search-single {
            display: block !important;
        }

        .sub-heading {
            font-size: 12px !important;
        }

        .is-best-image.is-add-to-galary-image {
            height: 377px !important;
        }

        .is-best-image.not-is-add-to-galary-image {
            height: 377px !important;
        }
    }

    @media (min-width: 992px) {
        .col-md-4.ng-scope.is-best-image .is-add-to-galary-image {
            height: 366px !important;
        }

        .col-md-4.ng-scope.is-best-image .not-is-add-to-galary-image {
            height: 366px !important;
        }
    }

    .is-best-image-pair {
        border: 5px solid lightblue;
        width:598px;
            
    }
    .is-add-to-local-site-gallery {
        border: 5px solid #26327e !important;
        width: 608px;
    }
</style>
<div class="row" style="margin-bottom: 13px;">
    <div class="col-md-6" style="margin: 0px;padding: 0;">
        <h1 style="margin:0;margin-left:10px" class="page-title" ng-if="vm.franchiseeName!=null">PHOTO MANAGEMENT (LOCAL REVIEW – PAYROLL PREP) FOR {{vm.franchiseeName}}</h1>
        <h1 style="margin:0;margin-left:10px" class="page-title" ng-if="vm.franchiseeName==null">PHOTO MANAGEMENT (LOCAL REVIEW – PAYROLL PREP)</h1>
    </div>
    <div class="col-md-6">

        <div style="float:right">
            <div class="btn-group" uib-dropdown is-open="isOpen" auto-close="outsideClick" position="botton-left">
                <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
                    Filter <span class="caret"></span>
                </button>
                <div class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button" style="right: 0px;left: auto;">
                    <div style="width:500px !important;padding:0 20px">
                        <div class="d-flex">
                            <button type="button" class="btn btn-link" style="margin-left:auto;position: relative;right: -20px;" is-open="false" ng-click="vm.close($event)"><i class="fa fa-remove"></i></button>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group form-md-line-input form-md-floating-label">
                                    <select class="form-control input-small select-width" id="search-option" ng-model="vm.LocalMarketingQuery.surfaceTypeId"
                                            ng-options="item.value as item.display for item in vm.surfaceType | orderBy : 'display'">
                                        <option selected disabled hidden style='display: none' value=''></option>
                                    </select>
                                    <label for="search-option">Surface Type</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group form-md-line-input form-md-floating-label">
                                    <select class="form-control input-small select-width" id="search-option" ng-model="vm.LocalMarketingQuery.surfaceMaterial"
                                            ng-options="item.value as item.display for item in vm.surfaceMaterial | orderBy : 'display'">
                                        <option selected disabled hidden style='display: none' value=''></option>
                                    </select>
                                    <label for="search-option">Surface Material</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group form-md-line-input form-md-floating-label">
                                    <select class="form-control input-small select-width" id="search-option" ng-model="vm.LocalMarketingQuery.serviceTypeId"
                                            ng-options="item.value as item.display for item in vm.serviceType | orderBy : 'display'">
                                        <option selected disabled hidden style='display: none' value=''></option>
                                    </select>
                                    <label for="search-option">Service Type</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-4">
                                <div class="form-group form-md-line-input form-md-floating-label">
                                    <select class="form-control input-small select-width" id="search-option" ng-model="vm.LocalMarketingQuery.surfaceColor"
                                            ng-options="item.value as item.display for item in vm.surfaceColor | orderBy : 'display'">
                                        <option selected disabled hidden style='display: none' value=''></option>
                                    </select>
                                    <label for="search-option">Surface Color</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group form-md-line-input form-md-floating-label">
                                    <select class="form-control input-small select-width" id="search-option" ng-model="vm.LocalMarketingQuery.buildingLocation"
                                            ng-options="item.value as item.display for item in vm.buildingLocation | orderBy : 'display'">
                                        <option selected disabled hidden style='display: none' value=''></option>
                                    </select>
                                    <label for="search-option">Building Location</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group form-md-line-input form-md-floating-label">
                                    <select class="form-control input-small select-width" id="search-option" ng-model="vm.LocalMarketingQuery.finishMaterial"
                                            ng-options="item.value as item.display for item in vm.finishMaterial | orderBy : 'display'">
                                        <option selected disabled hidden style='display: none' value=''></option>
                                    </select>
                                    <label for="search-option">Finish Material</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-4">
                                <div class="form-group form-md-line-input form-md-floating-label">
                                    <select class="form-control input-small select-width" id="search-option" ng-model="vm.LocalMarketingQuery.marketingClassId"
                                            ng-options="item.value as item.display for item in vm.marketingClass | orderBy : 'display'">
                                        <option selected disabled hidden style='display: none' value=''></option>
                                    </select>
                                    <label for="search-option">Marketing Class</label>
                                </div>
                            </div>
                            <div class="col-md-4" ng-if="!vm.isTech && !vm.isSalesRep && !vm.isOpsMgr">
                                <div class="form-group form-md-line-input form-md-floating-label" style="width:310px !important">
                                    <select class="form-control input-small select-width" style="width:310px !important" id="search-option" ng-model="vm.LocalMarketingQuery.userId"
                                            ng-options="item.value as item.display group by item.role for item in vm.techList">
                                        <option selected disabled hidden style='display: none' value=''></option>
                                    </select>
                                    <label for="search-option">User List</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group form-md-line-input form-md-floating-label">
                                    <select class="form-control input-small select-width" id="search-option" ng-model="vm.LocalMarketingQuery.isImagePairReviewed"
                                            ng-options="item.value as item.display for item in vm.reviewImageList">
                                        <option selected disabled hidden style='display: none' value=''></option>
                                    </select>
                                    <label for="search-option">Image Reviewed</label>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex" style="float:right;margin-bottom:10px">
                            <div>
                                <button class="btn btn-primary btn-sm" ng-click="vm.getFilteredLocalMarketingReview()" title="Apply">Apply</button>
                                <button class="btn btn-danger btn-sm" ng-click="vm.resetInnerSearchOption()" title="Clear" style="margin-left: 10px;">Clear</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="float:right; margin-right:50px;">
            <a class="btn" ng-click="vm.resetSearchOption()">
                <i class="fa fa-remove"></i>
            </a>
        </div>
        <div ng-if="!vm.isFranchiseeAdmin" class="search-single" style="float:right">
            <div class="form-group form-md-line-input form-md-floating-label" style="padding: 0px;margin: -14px !important;margin-right: 10px !important;">
                <select class="form-control input-small select-width" id="franchisee" ng-model="vm.LocalMarketingQuery.franchiseeId"
                        ng-change="vm.getLocalMarketingReview();"
                        ng-options="franchisee.value as franchisee.display for franchisee in vm.franchiseeCollection">
                    <option disabled value=''></option>
                </select>
                <label for="franchisee">Franchisee</label>
            </div>
        </div>
        <div class="search-single" style="float:right">
            <div class="form-group form-md-line-input form-md-floating-label" style="padding: 0px;margin: -14px !important;margin-right: 10px !important;">
                <input type="text" class="form-control  input-small" id="date-range" date-range-picker change="vm.getDateFilterLocalMarketingReview"
                       start-date="vm.LocalMarketingQuery.startDate" end-date="vm.LocalMarketingQuery.endDate">
                <label for="date-range">Date Range</label>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-md-4">
                <div class="fc-button-group">
                    <button type="button" ng-click="vm.prev()" ng-disabled="vm.buttomDisabled"><span class="fc-icon fc-icon-left-single-arrow" style="vertical-align: middle"></span></button>
                    <b style="font-size:17px">  {{vm.marketingReviewStartDate | date:'MM/dd/yyyy'}}  to {{vm.marketingReviewEndtDate | date:'MM/dd/yyyy'}}</b>
                    <button type="button" ng-click="vm.next()" ng-disabled="vm.buttomDisabled"><span class="fc-icon fc-icon-right-single-arrow" style="vertical-align: middle"></span></button>
                </div>
            </div>

            <div class="col-md-8 col-sm-8">
                <div class="dataTables_paginate paging_bootstrap_full_number" id="sample_1_paginate" style="float:right">
                    <!--<ul uib-pagination boundary-links="true" total-items="vm.count" ng-change="vm.refresh()" items-per-page="vm.query.pageSize"
                        ng-model="vm.query.pageNumber" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" max-size="'5'"
                        last-text="&raquo;"></ul>-->
                </div>
                <!--<div class="dataTables_info" id="sample_1_info" role="status" aria-live="polite" style="float:right;margin-right:10px !important">
                    Showing
                    <span ng-if="(vm.query.pageNumber * vm.query.pageSize) <= vm.count">{{((vm.query.pageNumber - 1) * vm.query.pageSize)+ 1}} to {{vm.query.pageNumber * vm.query.pageSize}} of {{vm.count}} </span>
                    <span ng-if="(vm.query.pageNumber * vm.query.pageSize) > vm.count">{{((vm.query.pageNumber - 1) * vm.query.pageSize)+ 1}} to {{vm.count}} of {{vm.count}} </span>
                    records
                </div>-->

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h4 class="sub-heading" ng-if="slides.length > 0"> <b>Note: Please select any image pair to be included in Local Site Gallery.</b> </h4>
    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-2" ng-if="slides.length > 0">
        <button class="btn btn-primary" type="button" ng-click="isReviewed=!isReviewed;vm.changeClass()" ng-model="vm.reviewMarkedQuery.isReview" ng-class="(isReviewed) ? 'reviewed' : 'notReviewed'" ng-disabled="vm.reviewMarkedQuery.isReview">
            <span ng-if="isReviewed">REVIEW COMPLETED</span>
            <span ng-if="!isReviewed">REVIEW NOT COMPLETED</span>
        </button>
    </div>
</div>

<div style="margin-top: 26px !important; border: 1px solid black; margin-bottom: 25px !important; min-height: 670px; min-height: 670px; max-height: 670px; overflow-y: scroll;">
    <div ng-repeat="localMarketingReview in vm.localMarketingReviewList track by $index">
        <div style="background-color: #418dcf; color: white">
            <b style="font-size: 25px;">
                {{localMarketingReview.franchiseeName}}
            </b>
        </div>
        <div ng-if="localMarketingReview.personCount == 0" style="margin-left: 50px;">
            {{localMarketingReview.message}}
        </div>
        <div ng-if="localMarketingReview.personCount > 0 && localMarketingReview.personListLocalMarketingModel.length <= 0" style="margin-left: 50px;">
            No Data Available In This Franchisee
        </div>
        <div style="margin-left: 50px; margin-bottom: 10px;" ng-repeat="person in localMarketingReview.personListLocalMarketingModel track by $index">
            <div style="margin:5px !important">
                <b ng-if="person.isActiveUser == false" style="font-size: 20px; color: #4e779b;">
                    {{person.personName}}({{person.personRole}})
                </b>
                <b ng-if="person.isActiveUser == true" style="font-size: 20px; color: red;">
                    {{person.personName}}({{person.personRole}})
                </b>
            </div>
            <div ng-if="person.schedulerCount == 0" style="margin-left: 80px;">
                {{person.message}}
            </div>
            <div ng-repeat="scheduler in person.schedulerListLocalMarketingModel track by $index" style="display: flex; flex-wrap: wrap;">
                <span style="width:100%; font-size:large;" ng-if="scheduler.marketingClass && scheduler.marketingClass != 'RESIDENTIAL' "><b>Marketing Class : Non-Residential - {{scheduler.marketingClass}}</b></span><br />
                <span style="width:100%; font-size:large;" ng-if="scheduler.marketingClass && scheduler.marketingClass == 'RESIDENTIAL' "><b>Marketing Class : {{scheduler.marketingClass}}</b></span><br />
                <div class="row" ng-repeat="beforeAfterImage in scheduler.beforeAfterImagesLocalMarketingModel track by $index">
                    <!--<hr class="rounded" ng-if="$index>0" />-->
                    <div class="col-md-4" ng-if="beforeAfterImage.imageTypeId != 206">
                        <div ng-class="{'is-add-to-local-site-gallery': beforeAfterImage.isAddToLocalGallery}">
                            <div ng-class="{'is-best-image-pair': beforeAfterImage.isBestPicture}">

                                <div style="box-shadow: 0 0 3px #ccc;background-color: #fff;padding: 10px;border: 0;height:377px; width:587px;">
                                    <div>
                                        <input type="checkbox" ng-model="beforeAfterImage.isBestPicture" ng-click="vm.bestPictureSelected(beforeAfterImage)" /><span style="margin-left:1px !important;margin-right:1px !important;">Mark Best Pair</span>
                                        <!--<input type="checkbox" ng-model="beforeAfterImage.isAddToLocalGallery" ng-click="vm.addToLocalSiteGallery(beforeAfterImage)" /><span style="margin-left:1px !important;">Add to Local Site Gallery</span>-->
                                        <input type="checkbox" ng-model="beforeAfterImage.isImagePairReviewed" ng-click="vm.markImageAsReviwed(beforeAfterImage)" /><span style="margin-left:1px !important;">Reviewed</span>
                                        <div style="float:right !important;margin-right: -5px;" class="numberCircle"><b style="margin:-3px !important">{{scheduler.schedulerName}}</b></div>
                                    </div>
                                    <div style="font-size: 18px; color: #2d69d5;">
                                        <p style="margin:0">
                                            <span><b>Customer Name:</b></span><span>{{scheduler.customerName}}</span>
                                        </p>
                                    </div>
                                    <div class="d-flex" style="flex-wrap:wrap">
                                        <div class="flex-1" style="min-width:50%;">
                                            <p style="margin:0"><b>Before Image</b></p>
                                            <div class="text-center div-style" style="overflow:hidden">
                                                <img style="height: 150px; width: 100%; width: 100%; margin: 0px; max-width: 100%; max-height: 200px; object-fit: cover; object-position: center center; transform:{{beforeAfterImage.beforeCss }}; max-width: 200px;" class="w-100 img-class" src="{{beforeAfterImage.s3BucketBeforeImageUrlThumb}}" ng-click="vm.openPopUp(beforeAfterImage);" />
                                            </div>
                                        </div>
                                        <div class="flex-1" style="min-width:50%">
                                            <p style="margin:0"><b>After Image</b></p>
                                            <div class="text-center div-style" style="overflow:hidden">
                                                <img style="height: 150px; width: 100%; width: 100%; margin: 0px; max-width: 100%; max-height: 200px; object-fit: cover; object-position: center center; transform:{{beforeAfterImage.afterCss }};max-width: 200px;" class="w-100 img-class" src="{{beforeAfterImage.s3BucketAfterImageUrlThumb}}" ng-click="vm.openPopUp(beforeAfterImage);" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex" style="flex-wrap:wrap">
                                        <div class="flex-1" style="min-width:50%;">
                                            <p style="margin:0">
                                                <span><b>Surface Material :</b></span><span> {{beforeAfterImage.surfaceMaterial}}</span>
                                            </p>
                                            <p style="margin:0">
                                                <span><b>Service Type :</b></span><span>{{beforeAfterImage.servicesType}}</span>
                                            </p>
                                            <p style="margin:0">
                                                <span><b>Surface Type :</b></span><span> {{beforeAfterImage.surfaceType}}</span>
                                            </p>
                                            <p style="margin:0">
                                                <span><b>Estimate Value: :</b></span><span>{{scheduler.estimateValue}}</span>
                                            </p>
                                        </div>
                                        <div class="flex-1" style="min-width:50%;">
                                            <p style="margin:0">
                                                <span><b>Surface Color :</b></span><span> {{beforeAfterImage.surfaceColor}}</span>
                                            </p>
                                            <p style="margin:0">
                                                <span><b>Surface Finish :</b></span><span> {{beforeAfterImage.finishMaterial}}</span>
                                            </p>
                                            <p style="margin:0">
                                                <span><b>Building Location :</b></span><span>{{beforeAfterImage.buildingLocation}}</span>
                                            </p>
                                        </div>
                                    </div>
                                    <p style="margin:0">
                                        <span><a ng-click="vm.naviage(scheduler.schedulerUrl)">Click Here </a> To Change Images for Job/Estimate : {{scheduler.title}}</span>
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Exterior Image-->
                    <div class="col-md-4" ng-if="beforeAfterImage.imageTypeId == 206">
                        <div style="box-shadow: 0 0 3px #ccc;background-color: #fff;padding: 10px;border: 0;height:377px; width:587px">
                            <div>
                                <!--<input type="checkbox" ng-model="beforeAfterImage.isBestPicture" ng-click="vm.bestPictureSelected(false,slide)" /><span style="margin-left:1px !important;margin-right:1px !important;">Mark Best Pair</span>
                            <input type="checkbox" ng-model="beforeAfterImage.isAddToLocalGallery" ng-click="vm.bestPictureSelected(true,slide)" /><span style="margin-left:1px !important;">Add to Local Site Gallery</span>-->
                                <input type="checkbox" ng-model="beforeAfterImage.isImagePairReviewed" ng-click="vm.markImageAsReviwed(beforeAfterImage)" /><span style="margin-left:1px !important;">Reviewed</span>
                                <div style="float:right !important;margin-right: -5px;" class="numberCircle"><b style="margin:-3px !important">{{scheduler.schedulerName}}</b></div>
                            </div>
                            <div style="font-size: 18px; color: #2d69d5;">
                                <p style="margin:0">
                                    <span><b>Customer Name:</b></span><span>{{scheduler.customerName}}</span>
                                </p>
                            </div>
                            <div>
                                <div>
                                    <p style="margin:0"><b>Exterior Image</b></p>
                                    <div class="text-center div-style" style="overflow:hidden">
                                        <img style="height:250px !important; width:300px !important; transform:{ beforeAfterImage .exteriorImageCss }};" src="{{beforeAfterImage.s3BucketBeforeImageUrlThumb}}" ng-click="vm.openPopUp(beforeAfterImage);" />
                                    </div>
                                </div>
                            </div>

                            <p style="margin:0">
                                <span><a ng-click="vm.naviage(scheduler.schedulerUrl)">Click Here </a> To Change Images for Job/Estimate : {{scheduler.title}}</span>
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row" style="margin-left:2px">
    <div ng-if="0">
        <p style="font-size: 19px!important;margin-left: 45%;"><b>No Records Found</b></p>
    </div>
</div>

