<div class="modal-header">
    <h4 class="modal-title pull-left">Import Calendar<span> : {{vm.franchisee}}</span></h4>
    <a href="javascript:void(0);" ng-click="vm.close()" class="pull-right"><i class="fa fa-remove"></i></a>
</div>
<div class="modal-body">
    <form name="calendarImportForm">
        <div class="row">
            <div class="col-md-4">
                <div class="pull-left search-single">
                    <div class="form-group form-md-line-input form-md-floating-label">
                        <select class="form-control input-small" id="franchisee" ng-model="vm.calendarModel.timeZoneId"
                                ng-options="type.value as type.display for type in vm.timeZoneList">
                            <option selected disabled hidden style='display: none' value=''></option>
                        </select>
                        <label for="type">TimeZone<span class="required" aria-required="true"> * </span></label>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="pull-left search-single">
                    <div class="form-group form-md-line-input form-md-floating-label">
                        <select class="form-control input-small" id="franchisee" ng-model="vm.option"
                                ng-options="type.value as type.display for type in vm.options">
                            <option selected disabled hidden style='display: none' value=''></option>
                        </select>
                        <label for="type">Assignee<span class="required" aria-required="true"> * </span></label>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group form-md-line-input form-md-floating-label" ng-if="vm.option == 0">
                    <select class="form-control" id="rep" name="rep" ng-model="vm.calendarModel.salesRepId"
                            ng-click="vm.calendarModel.techId == null;"
                            ng-options="rep.value as rep.display for rep in vm.salesRepList " required>
                        <option selected disabled hidden style='display: none' value=''></option>
                    </select>
                    <label for="rep">Select<span class="required" aria-required="true"> * </span></label>
                    <div ng-show="calendarImportForm.rep.$dirty && calendarImportForm.rep.$invalid">
                        <span class="text-danger" ng-if="calendarImportForm.rep.$error.required">
                            Assignee is required.
                        </span>
                    </div>
                </div>
                <div class="form-group form-md-line-input form-md-floating-label" ng-if="vm.option == 1">
                    <select class="form-control" id="tech" name="tech" ng-model="vm.calendarModel.techId"
                            ng-click="vm.calendarModel.salesRepId == null;"
                            ng-options="tech.id as tech.label for tech in vm.techList" required>
                        <option selected disabled hidden style='display: none' value=''></option>
                    </select>
                    <label for="tech">Select<span class="required" aria-required="true"> * </span></label>
                    <div ng-show="calendarImportForm.tech.$dirty && calendarImportForm.tech.$invalid">
                        <span class="text-danger" ng-if="calendarImportForm.tech.$error.required">
                            Assignee is required.
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="margin-bottom-40 margin-top-20">
            <label>File Uploader</label>
            <div ngf-drop="vm.uploadFile($file)" class="drop-box"
                 ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true" ngf-pattern="'.ics'" ngf-accept="'.ics'">
                Drop files (.ics) to attach, or
                <a href="javascript:void(0)" ngf-select="vm.uploadFile($file)" ngf-multiple="false" ngf-pattern="'.ics'"
                   ngf-accept="'.ics'">browse</a>.
            </div>
            <div ngf-no-file-drop>Media Drag/Drop is not supported for this browser</div>
        </div>
        <div class="margin-top-20" ng-if="vm.calendarModel.file != null">
            <table class="table table-striped">
                <tr>
                    <th>Name</th>
                    <th>Size</th>
                </tr>
                <tr>
                    <td>
                        {{vm.calendarModel.file.caption}}
                    </td>
                    <td>
                        {{vm.calendarModel.file.size}} Bytes
                    </td>
                </tr>
            </table>
        </div>
    </form>
    <div class="modal-footer clear-both">
        <button type="button" class="btn default" ng-click="vm.close();">Close</button>
        <button type="submit" class="btn default" ng-click="vm.save();" ng-disabled="vm.isProcessing == true">Save</button>
    </div>
</div>
