<style type="text/css">
    
</style>
<div class="modal-header">
    <h4 class="modal-title pull-left">Are you sure you want to close, your entered information will be lost</h4>
    <a href="javascript:void(0);" ng-click="vm.close()" class="pull-right"><i class="fa fa-remove"></i></a>
</div>

<div class="modal-body">
    <div class="row">
        <div class="col-md-12">

        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn default" ng-click="vm.save();">Yes</button>
    <button type="button" class="btn default" ng-click="vm.close();">No</button>
</div>
