<div class="modal-header">
    <h4 class="modal-title pull-left">Terms And Conditions</h4>
    <a href="javascript:void(0);" ng-click="vm.close()" class="pull-right"><i class="fa fa-remove"></i></a>
</div>


<div class="modal-body">
    <ng-form name="note_form">
        <div class="row"  style="padding:1% !important">
            <table style="width:100%;" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <td style="vertical-align:top;max-width:50%;width:50%;min-width:50%">
                            <div>
                                <span>Proper environmental control must be provided.</span>
                                <br />
                                <ul>
                                    <li>Owner/Buyer to provide clean water and permanent HVAC during installation.</li>
                                    <li><u>Temperature control must be maintained at or above 60 degrees F before and during installation.</u></li>
                                    <li>Owner/Buyer must supply onsite trash receptacles sufficient for empty 5 gallon buckets and job site debris.</li>
                                </ul>

                                <p>
                                    <b> Lighting -</b> Failure to provide proper lighting, electricity and/or environmental control may result in back charges.
                                </p>
                                <p>
                                    <b>Scheduling -</b> At no time shall the speed of the project completion be allowed to detrimentally affect the application or impede the system's tolerances.
                                </p>
                                <p>
                                    <b>Moisture Levels -</b> This proposal assumes moisture levels acceptable for the installation of the system
                                    (3-5# per 1000 sf or 75-80% RH within the substrate - or as recommended by the manufacturer). The concrete surface must be inspected
                                    and quantitative vapor measurements taken prior to the execution of vapor emission compliance procedures. MARBLELIFE will not be
                                    responsible for moisture related problems. Owner/Buyer is responsible for all tests prior to our arrival.
                                </p>
                                <b>Ventilation -</b> MARBLELIFE and Owner/Buyer shall ensure that proper ventilation systems are in place prior to installation.
                                <p>
                                    <b>Floor Protection - </b>ProGuard protection is always recommended for protection of the floor before and after installation.
                                    During and/or after completion, any damage to the installed system, not caused by MARBLELIFE employees, will result in additional
                                    charges for repairs. If the finished floors are not protected and damage results, additional charges for repair will be added as a
                                    change order to the original contract.
                                </p>
                                <p>
                                    <b>Substrate Condition -</b> Substrate must be structurally sound and in stable condition. MARBLELIFE will not be responsible for sub grade
                                    shifting, cracking, defects that may occur during freeze/thaw or any other ground movements, or improper curing methods resulting in
                                    discoloration of the substrate. This proposal is contingent upon the concrete substrate(s) meeting minimum SBC standards and ACI 318
                                    Building Code for Structural Concrete. Deviations from the SBC or ACI 318 not disclosed in writing prior to installation will result
                                    in any warranties becoming void upon discovery.
                                </p>
                                <p>
                                    <b>Acidity -</b> This proposal assumes pH levels acceptable for the installation of this system (no more than 6-7 pH or as recommended by
                                    the manufacturer). The concrete must be inspected and quantitative pH measurements taken prior to the execution of dye compliance
                                    procedures. MARBLELIFE will not be responsible for pH related problems.
                                </p>
                                <p>
                                    <b> Clean Work Area -</b> Work area for installation must be scraped, broom cleaned and free from all debris including but not limited to,
                                    drywall dust and residue, paint, previous coatings, glues, adhesives, chalk or snap lines, etc. The Owner/Buyer shall pay expenses
                                    of any delay or additional cost caused by the failure of the Owner/Buyer to provide working conditions described herein.
                                </p>
                                <p>
                                    <b> Floor Removal - </b>This proposal excludes the removal of all existing floor covering materials, unless otherwise noted.
                                </p>
                                <p>
                                    <b>Base Molding -</b> Base molding shall not be installed prior to installation/floor polishing.It is the Owner/Buyer responsibility to
                                    accept the level of variations, blemishes, etc. on the surface of the substrate prior to the application of the polishing, coloration, and sealant systems.
                                </p>
                                <p>
                                    <b>Concrete Substrate Protection -</b> The concrete substrate must be protected during construction according to The
                                    Concrete Surface Finish Specification. During the initial preparation stage, MARBLELIFE will attempt to remove
                                    minor unexpected markings, but will not guarantee complete removal of stains. All parties should be aware that
                                    many markings and penetrated stains including but not limited to footprints, paint, primer, construction markings,
                                    blemishes, glues, caulking, and patches in the surface may reappear after stain is applied, and may reappear in the
                                    finished floor.
                                </p>
                                <p>
                                    Do not use muriatic acid, Pine-Sol, citric cleaners, solvents, or chemicals on bare concrete as it may hinder the application of the
                                    stains/dyes.
                                </p>
                                <p>
                                    Ensuring that these requirements are met will guarantee the best possible installation, completed on time and within budget.
                                    We appreciate your assistance.
                                </p>
                                <p><div><b>MARBLELIFE:</b><div style="width:30%;border-bottom:1px solid black;margin-left:20% !important"></div></div></p>
                                <p><div><b>Owner/Buyer:</b><div style="width:30%;border-bottom:1px solid black;margin-left:20% !important"></div></div></p>
                                <p><b>Conditions of Installation:</b></p>
                                <p>
                                    <b>Stain Variations -</b> Polished Concrete Systems are hand crafted onsite by trained applicators using a variety of
                                    techniques and artisan craftsmanship. They are not pre-manufactured flooring systems and therefore every system
                                    installation is unique and will present its own set of installation variables. Similar in effect to natural stone
                                    products, the final outcome of these systems are designed to and may give an assortment of colors, swirls, mottling
                                    effects, blemishes, and cracks natural to and desired when choosing these types of handcrafted systems.
                                </p>
                                <p>
                                    <b>Surface Blemishes -</b> Our Polished Concrete Systems create custom translucent color effects and are not designed to
                                    hide surface discoloration, blemishes, impressions, cracks, markings or other construction variables.
                                </p>
                                <p>
                                    Our Decorative & Polished Concrete Surfaces are striking in appearance and add to the artistic features of modern
                                    sculptures, floors, walls, and accessories.
                                </p>
                                <br />
                            </div>
                        </td>
                        <td style="vertical-align:top;max-width:50%;width:50%;min-width:50%">
                            <div>
                                <p>
                                    <b> Maintenance -</b> Maintenance of these systems is recommended and instructions will be provided. Maintenance is the sole
                                    responsibility of the end user, unless otherwise agreed to with a maintenance contract.
                                </p>
                                <p>
                                    <b> Security -</b> Upon delivery to the job site, the Owner/Buyer shall protect all materials and equipment from damage,
                                    theft, or abuse.
                                </p>
                                <p>
                                    <b> Literature -</b> Please ensure that all parties involved review the product literature and information submitted by
                                    MARBLELIFE before work begins.
                                </p>
                                <p>
                                    <b>Deposit Required -</b> No material will be ordered, nor is manpower scheduled, until a signed copy of this
                                    proposal, along with the required deposit, is returned to MARBLELIFE
                                </p>
                                <p>
                                    <b> Adjacent Surfaces -</b> MARBLELIFE employees will do their best to protect adjacent surfaces and provide dust control.
                                    However, due to the nature of the process and the mass of the equipment we are not responsible for finished surfaces
                                    (drywall, painted surfaces, doors, baseboards, cabinetry, etc.), or dust. All furniture and fixtures are the
                                    responsibility of the Owner/Buyer.
                                </p>
                                <p>
                                    <b>Edge Work -</b> Edges to be finished within 1/2'' of wall. Finishing edges closer will be at an additional cost.
                                </p>
                                <p>
                                    Due to the difference in resin tooling and equipment, edges may have a slight variation in color and sheen.
                                </p>
                                <p>
                                    <b>Concrete Hardness -</b> This proposal assumes that the concrete substrate is of medium strength. If the concrete is soft,
                                    hard or has a burnished finish that increases the intended/estimated wear of the diamond tooling, MARBLELIFE reserves
                                    the right to increase the price to cover the additional labor and material cost.
                                </p>
                                <p>
                                    <b> Unencumbered Access - </b>Owner/Buyer to provide unencumbered access to the job site and work area, and we will be
                                    allowed parking for the equipment trailer to within 15 ft of the building.
                                </p>
                                <p>
                                    <b>Sample - </b>One custom 7'x7' mock-up /sample will be created using the specified system. The mock up/sample area
                                    provided by Owner/Buyer must be of the same concrete mix design, installation and finish methods as specified for
                                    the project.
                                </p>
                                <p>
                                    The Owner/Buyer agrees to pay $2500.00 for the sample (amount to be credited toward purchase upon notice to proceed),
                                    unless otherwise waived in writing.
                                </p>
                                <p>
                                    Owner/Buyer agrees to pay time/material for additional mock-up /samples that may be required. Owner/Buyer
                                    (or representative) must provide signed approval for mock-up/sample before work-begins.
                                </p>

                                <p><b><u>Special Instructions:</u></b></p>
                                <p>
                                    <b> Concrete Surface Protection -</b> Please ensure that the concrete substrate is properly cured, protected from markings,
                                    damage, paint and drywall, caulking residue, blemishes and all construction debris.
                                </p>
                                <p>
                                    MARBLELIFE will not be responsible for imperfections in the substrate that show through the colors and finishes.
                                </p>
                                <p>
                                    Do not allow permanent marker, pencil, red/blue/black chalk lines on flooring to receive transparent color and
                                    clear finishes.provided. Variables that occur during installation are due to each unique working environment (i.e. lighting,
                                    temperature, airflow, humidity, and existing floor conditions)
                                </p>
                                <p>
                                    <b> and Acceptance -</b> By entering into this agreement and choosing our Decorative & Polished Concrete System,
                                    the end user understands and is agreeing to accept the look and variables expected when choosing this type of system,
                                    and have taken the time to educate themselves on the artistic and unique impression that these systems portray
                                </p>
                                <p>
                                    The total system design must be considered to ensure safe, long lasting, and trouble free performance. MARBLELIFE
                                    does not take the responsibility to determine and/or specify systems chosen. Function, material compatibility,
                                    adequate physical characteristics, and maintenance, are the responsibility of the Architect, Designer, General
                                    Contractor and ultimately the end user. It is the end user’s responsibility to determine the suitability of these
                                    systems for their particular application and their own use.
                                </p>
                                <p><b>Slip and Fall Precautions:</b></p>
                                <p>
                                    <b> Maintenance - </b>MARBLELIFE and the Manufacturer of these Decorative & Polished Concrete Systems recommend the use of
                                    proper cleaning and maintenance as well as the use of proper cleaning products for polished concrete flooring systems.

                                </p>
                                <p>
                                    Immediate attention to areas that may be exposed to wet, oily or greasy conditions are highly recommended. These
                                    products are designed specifically for polished concrete, leaving a low residue build up to aid in a higher degree
                                    of slip resistance.
                                </p>
                                <p>
                                    Polished concrete surfaces can be slippery when improperly cleaned and maintained. The type of activity on the
                                    flooring surface, maintenance procedures, cleaning products, cleaning residue, and type of footwear may all be
                                    factors to consider when deciding on the degree of slip-resistance needed for a given area.
                                </p>
                                <p>
                                    MARBLELIFE or the product Manufacturer will not be responsible for injuries incurred in a slip and fall incident.
                                    It is the responsibility of the Owner/Buyer to provide for their own safety and to determine the suitability of these
                                    surfaces for their particular application.
                                </p>
                                <p>
                                    It is agreed that MARBLELIFE's proposal inclusive of these terms and conditions will be added as an addendum to the
                                    Buyer/Owner's contract.
                                </p>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </ng-form>
</div>
