<style>
    ul#hide {
        list-style: none
    }
</style>
<div class="modal-header">
    <h4 class="modal-title pull-left">Terms And Conditions</h4>
    <a href="javascript:void(0);" ng-click="vm.close()" class="pull-right"><i class="fa fa-remove"></i></a>
</div>

<div class="modal-body">
    <ng-form name="note_form">
        <div class="row" style="padding:3% !important">

            <table style="width:100%;page-break-after:avoid" cellpadding="0" cellspacing="0">

                <tbody>
                    <tr>
                        <td style="vertical-align:top;max-width:50%;width:50%;min-width:50%">
                            <div>
                                <ul id="hide">
                                    <li>
                                        Your MARBLELIFE Representative has provided you with an exact description and estimate of the cost of the services to be provided.  This includes pointing out for you the existing damage to the surfaces you desire to restore.  Special conditions may exist and will be noted.
                                    </li>
                                </ul>

                                <ul id="hide">
                                    <li>
                                        <b> FURNITURE AND PLUMBING -</b>
                                        Unless you are otherwise notified by the MARBLELIFE Representative, our Technicians are not trained,
                                        equipped, licensed or authorized to do plumbing or furniture moving.  If they remove or replace fixtures at your request, it is done solely
                                        as a courtesy, and the responsibility for any damage is yours.
                                    </li>
                                </ul>

                                <ul id="hide">
                                    <li>
                                        <b>PAINT AND WALLPAPER-</b>
                                        If you are re-painting or re-wallpapering, please wait until after service has been completed. In order to protect paint and wallpaper,
                                        we must mask it.  When it is removed, masking tape occasionally pulls off small pieces of the surface to which it is stuck.
                                        If you wish to preserve the existing wallpaper or paint, please alert the craftsman, but even then, damage may occur.
                                        If so, we are not responsible for replacing your wallpaper or touching up paint.
                                    </li>
                                </ul>
                                <ul id="hide">
                                    <li>
                                        <b>GROUT -</b>
                                        Some stains on grout will remain unless you have specifically contracted for its restoration, stripping, replacement or
                                        colorsealing.
                                    </li>
                                </ul>
                                <ul id="hide">
                                    <li>
                                        <b>STAINS -</b> Some stains on tile will remain unless you have specifically contracted for their removal or reduction.
                                        Stain removal cannot be guaranteed.  Poulticing services may require repeated application in order to remove or reduce stains.
                                        Each application is a separate service charge and visit.

                                    </li>
                                </ul>
                                <ul id="hide">
                                    <li>
                                        <b>PAYMENT TERMS  - </b>DUE ON COMPLETION
                                    </li>
                                </ul>
                                <ul id="hide">
                                    <li>
                                        <b>DEPOSIT-</b> A 50% deposit is required at time of scheduling
                                    </li>
                                </ul>
                                <ul id="hide">
                                    <li>
                                        We accept CASH, CHECKS, VISA or MASTERCARD.  On the final day of the job, the Craftsman will present you with an invoice for the work.
                                        Please plan to be there on the final day to inspect the work and take care of payment or arrange in advance for your check or payment to be
                                        processed  when the job is completed
                                    </li>
                                </ul>
                                <ul id="hide"><li id="hide"><b>RESPONSIBILITIES OF THE CUSTOMERS</b></li></ul>
                                <ul>
                                    <li>
                                        Customers will make work site available to MARBLELIFE® on the days and times indicated in the work agreement.
                                        Customer will notify MARBLELIFE a minimum of 7 DAYS in advance if work site cannot be made available.  If no notification is provided that
                                        the job site is not available, customer will still be charged for the day of service plus associated travel charges to and from the site.
                                    </li>
                                </ul>
                                <ul>
                                     <li>
                                         Customer will provide access and assistance to electrical resources, on-site parking, water, and drain at job site.
                                     </li>
                                 </ul>
                                <ul>
                                    <li>
                                        Customer will arrange necessary security at the work site to ensure workers are not interrupted during the performance of their duties.
                                    </li>
                                </ul>
                                <ul>
                                    <li>
                                        In the event that work completed by MARBLELIFE is then damaged or disturbed by another contractor, MARBLELIFE will bill for the additional
                                        costs associated with repairing or correcting the situation.  This is particularly relevant to the application of sealers or topical treatments.

                                    </li>
                                </ul>
                                <ul>
                                    <li>
                                        Unless otherwise stated, the customer executing this agreement will be deemed responsible for signing off on work completed. Once signed off the
                                        project is deemed to be completed.  Any additional work defined will be done under a separate agreement as a new project
                                    </li>
                                </ul>


                                <ul>
                                    <li>
                                        Customer will remove all furniture, fixtures, rugs, and other obstacles from worksite before the work is performed and return them after each
                                        work session is complete.  This agreement does not include charges for moving equipment, furnishings or any other material that may interfere
                                        with access to the surface being worked on.  In the event, that the craftsman must move furniture or any other items, additional costs may be
                                        charged.  Minimum moving costs are $75.  Additional charges per piece will apply.  Please be advised, MARBLELIFE is not a moving company, and
                                        does not equip their craftsman with moving equipment.
                                    </li>
                                </ul>

                                <ul>
                                    <li>
                                        Every effort will be made to avoid contact with or damage to woodwork, however MARBLE LIFE may need to address surfaces in
                                        immediate contact with a wood surface.  MARBLELIFE is not responsible for any damage to woodwork during cleaning or stripping process.
                                        Any repainting that needs to be done will be customer’s responsibility.  It is understood that the nature of stripping a surface is remove
                                        the coating from that surface.
                                    </li>
                                </ul>


                            </div>
                        </td>
                        <td style="vertical-align:top;max-width:50%;width:50%;min-width:50%">
                            <div>
                                <ul id="hide">
                                    <li>
                                        <b>MATERIALS SPECIFICATIONS-</b>
                                        All material used in the performance of the work agreed upon in this work agreement will meet or
                                        exceed applicable industry standards.  SDS sheets will be provided upon request for all chemicals used in the performance of the work.
                                        MARBLELIFE ensures that these materials will meet Federal and State government standards and will meet Federal and State laws.
                                        These materials include, but are not limited to:  Fungicide, Cleaning Chemicals, Polishes, Mastic, Sealers etc.
                                    </li>
                                </ul>
                                <ul id="hide">
                                    <li>
                                        <b>PERSONNEL QUALIFICATIONS-</b>
                                        All work outlined in this agreement will be done by MARBLELIFE personnel.  All personnel are trained by MARBLELIFE or its designee and
                                        are full capable of performing the work agreed upon.  MARBLELIFE personnel will perform the work in a professional manner, will wear MARBLELIFE
                                        standard work attire, and will attempt to the best of their ability not to disrupt the normal activities of the customer.
                                    </li>
                                </ul>


                                <ul id="hide">
                                    <li>
                                        <b>COMPLIANCE WITH THE LAWS-</b>
                                        In execution of this agreement, MARBLELIFE will abide by all the existing laws, codes, rules, and regulations set forth by all relevant
                                        authorities having jurisdiction in the location of the work site.
                                    </li>
                                </ul>


                                <ul id="hide">
                                    <li>
                                        <b>CUSTOMER RIGHT TO INSPECT WORK-</b>
                                        Customer reserves the right to inspect the work site determine that the quality of work is as agreed upon in this work agreement.
                                        This inspection shall take place at the conclusion of the performance of the work done by MARBLELIFE and after MARBLELIFE has notified the
                                        customer that said work has been completed.  Customer shall have the right to inspect said work no later than the scheduled completion date
                                        indicated in the contract.  In case of a long-term preservation agreement, the customer and MARBLELIFE shall agree in advance to regular quality
                                        audits.
                                    </li>
                                </ul>


                                <ul id="hide">
                                    <li>
                                        <b>LEGAL EXPENSES-</b>
                                        In the event that payment for services are not made within the agreed upon payment terms, Customer will be responsible for late fees,
                                        interest charges, legal fees, and any collection fees required to secure payment
                                    </li>
                                </ul>

                                <ul id="hide">
                                    <li>
                                        In the event of any litigation arising out of this contract, the losing party will be responsible for the attorney fees and costs of the
                                        prevailing party, including any such fees or costs incurred on appeal.

                                    </li>
                                </ul>

                                <ul id="hide">
                                    <li>
                                        <b>WAIVER OF JURY TRIAL-</b>
                                        EACH OF THE PARTIES HERETO WAIVES ITS RESPECTIVE RIGHTS TO A TRIAL BY JURY OF ANY CLAIM OR CAUSE OF ACTION BASED UPON OR ARISING OUT OF OR
                                        RELATED TO THIS CONTRACT OR THE TRANSACTION CONTEMPLATED HEREBY OR THEREBY IN ANY ACTION, PROCEEDING OR OTHER LITIGATION OF ANY TYPE BROUGHT BY
                                        ANY PARTY AGAINST THE OTHER PARTY, WHETHER WITH RESPECT TO CONTRACT CLAIMS, TORT CLAIMS, OR OTHERWISE. EACH OF THE PARTIES HERETO AGREES THAT ANY
                                        SUCH CLAIM OR CAUSE OF ACTION SHALL BE TRIED BY A COURT TRIAL WITHOUT A JURY.

                                    </li>
                                </ul>

                                <ul id="hide">
                                    <li>
                                        <b>INSURANCE-</b>
                                        All MARBLELIFE employees are covered by $1,000,000.00 comprehensive general liability insurance, and have full Worker’s
                                        Compensation coverage.  It will take approximately 5 – 7 working days to process a Certificate of Insurance.
                                    </li>
                                </ul>

                                <ul id="hide">
                                    <li>
                                        <b>THE MARBLELIFE GUARANTEE-</b>
                                        Subject to limitations set forth under the MARBLELIFE Standard Terms and Conditions, the MARBLELIFE office. identified herein guarantees the
                                        results of the services performed, and if, within two (2) days after the performance of the services performed, the customer notifies the
                                        MARBLELIFE office referenced herein of dissatisfaction with the results of the services performed, MARBLELIFE shall reapply the service during
                                        the next agreed upon service period or at another time mutually agreed upon, or shall refund the relevant portion of the service fee paid by
                                        customer.
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </ng-form>
</div>
