<!--<div google-map id="map-canvas" counter="1">
</div>-->
<!--<p><a ng-href="vm.href" href="geo:?q=San+Francisco&z=15">Zoom 15, Search for San Francisco</a></p>-->
<!--<p><a ng-href="{{vm.href}}">Go to Map</a></p>-->
<!--<p><a href="geo:?z=5&q={{vm.customerAddress}}">Zoom 15, Search for San Francisco</a></p>
<p><a href="geo:?z=5&q={{vm.customerAddress}}">Zoom 15, Search for San Francisco</a></p>-->
<p><a href="geo:?z=5&q=Noida,India">geo:?z=5&q=Noida,India</a></p>
<a ng-href="{{vm.href.replace('google.navigation', 'geo')}}">{{vm.href.replace('google.navigation', 'geo')}}</a>
