<style type="text/css">
    .modal-body.ng-scope {
        width: 81%;
        overflow-wrap: break-word;
    }
</style>

<div class="modal-header">
    <h4 class="modal-title pull-left">Add Notes- {{vm.franchiseeName}}</h4>
    <a href="javascript:void(0);" ng-click="vm.close()" class="pull-right"><i class="fa fa-remove"></i></a>
</div>

<div class="modal-body">
    <form role="form" name="commentForm">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-xs-12">
                <div class="form-group form-md-line-input">
                    <textarea type="text" class="form-control" id="comment" name="comment" ng-model="vm.commentInfo.comment" required
                              maxlength="5000"></textarea>
                    <label for="comment">Notes <span class="required" aria-required="true"> * </span></label>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer clear-both">
    <button type="button" class="btn default" ng-click="vm.close();">Close</button>
    <button type="submit" class="btn default" ng-click="vm.save();" ng-disabled="commentForm.$invalid">Save</button>
</div>
