<div class="modal-header">
    <h4 class="modal-title pull-left">Notes List</h4>
    <a href="javascript:void(0);" ng-click="vm.close()" class="pull-right"><i class="fa fa-remove"></i></a>
</div>
<div class="modal-body">
    <table class="table table-striped" id="sample_1" aria-describedby="sample_1_info" style="width:calc(100% - 20px);margin-bottom:0px">
        <thead>
            <tr role="row" style="background-color: #dddddd !important">
                <th style="width:5%">ID</th>
                <th style="width:5%">
                    Date
                </th>
                <th style="width:5%">
                    UserName
                </th>
                <th style="width:5%">
                    Notes
                </th>

            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in vm.todoComments track by $index">
                <td>{{item.id}}</td>
                <td>{{item.date|date:'M/d/yyyy'}}</td>
                <td>{{item.userName}}</td>
                <td>{{item.comment}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer clear-both">
    <button type="button" class="btn default" ng-click="vm.close();">Close</button>
</div>
