@model List<Core.MarketingLead.ViewModel.ManagementChartListModelForChart>
 <script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/charts.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/material.js"></script>
<script src="https://www.amcharts.com/lib/4/lang/de_DE.js"></script>
<script src="https://www.amcharts.com/lib/4/geodata/germanyLow.js"></script>
<html>
<head>
    <title>Before-After Images of Job/Estimate</title>
</head>
<body>

    <am-chart id="myFirstChart11" options="amChartOptionsforManagementChart" height="460px" width="100%"></am-chart>
</body>
</html>