<style type="text/css">
    span.required {
        display: none !important;
    }

    .has-zero {
        border: 2px solid #26327e !important;
    }

    thead {
        visibility: visible !important;
    }
</style>
<div class="modal-header">
    <h4 ng-if="vm.isSuperAdmin" class="modal-title pull-left">View One Time Notes</h4>
    <h4 ng-if="vm.isFranchiseeAdmin" class="modal-title pull-left">View One Time Notes</h4>
    <a href="javascript:void(0);" ng-click="vm.close()" class="pull-right"><i class="fa fa-remove"></i></a>
</div>
<div class="modal-body">
    <!--<div>
        <input style="font-size:15px;" ng-if="vm.isSuperAdmin" ng-model="vm.oneTimeNote" ng-disabled="vm.oneTimeNote" class="form-control" rows="5" id="notes" maxlength="2000" placeholder="One Time Notes" required></input>
    </div>-->
    <!--<div style="font-size:15px;" ng-if="vm.isSuperAdmin">
        <div ng-repeat="note in vm.oneTimeNote">{{note}}</div>
    </div>-->
    <div style="font-size:15px;">
        {{vm.oneTimeNote}}
    </div>
</div>
<div class="modal-footer clear-both">
    <button type="button" class="btn default" ng-click="vm.close();">Close</button>
    <!--<button ng-if="vm.isSuperAdmin" type="button" class="btn btn-primary" ng-click="vm.save();">Save</button>-->
</div>
