<div class="modal-header">
    <h4 class="modal-title pull-left">SalesData Upload Details</h4>
    <a href="javascript:void(0);" ng-click="vm.close()" class="pull-right"><i class="fa fa-remove"></i></a>
</div>
<div class="modal-body">
    <span class="modal-title pull-left" ng-if="vm.salesDataList.length <= 0">No Records To Delete related to this Sales Data Upload. Delete salesData Only?</span>
    <span class="modal-title pull-left" ng-if="vm.salesDataList.length > 0">Following are the Details Related to salesData Upload. Please Confirm if You want to delete?</span>
    <div class="modal-footer">
        <button type="button" class="btn default" ng-click="vm.close();" ng-disabled="vm.isProcessing == true">Close</button>
        <button type="submit" class="btn default" ng-click="vm.deleteBatch(vm.query.salesDataUploadId);" ng-disabled="vm.isProcessing == true">Delete</button>
    </div>

    <div class="row" ng-if="vm.salesDataList.length > 0">
        <div class="col-md-12">
            <div class="clearfix">
                <div class="pull-left">
                    <div class="dataTables_info" id="sample_1_info" role="status" aria-live="polite" ng-if="vm.salesDataList.length > 0">
                        Showing
                        <span ng-if="(vm.query.pageNumber * vm.query.pageSize) <= vm.count">{{((vm.query.pageNumber -1) * vm.query.pageSize)+ 1}} to {{vm.query.pageNumber * vm.query.pageSize}} of {{vm.count}} </span>
                        <span ng-if="(vm.query.pageNumber * vm.query.pageSize) > vm.count">{{((vm.query.pageNumber - 1) * vm.query.pageSize)+ 1}} to {{vm.count}} of {{vm.count}} </span>
                        records
                    </div>
                </div>
                <div class="pull-right" ng-if="vm.salesDataList.length < vm.count">
                    <div class="dataTables_paginate paging_bootstrap_full_number" id="sample_1_paginate">
                        <ul uib-pagination boundary-links="true" total-items="vm.count" ng-change="vm.pageChange()" items-per-page="vm.query.pageSize"
                            ng-model="vm.query.pageNumber" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" max-size="'5'"
                            last-text="&raquo;"></ul>
                    </div>
                </div>
            </div>
            <div class="table-scrollable table-mbl">
                <table class="table table-striped table-bordered table-hover dataTable no-footer" id="sample_1" role="grid" aria-describedby="sample_1_info">
                    <thead>
                        <tr role="row">
                            <th ng-class="{'sorting_desc': vm.query.sort.order == 1 && vm.query.sort.propName == vm.SortColumns.InvoiceId,
                                                        'sorting_asc' : vm.query.sort.order == 0  && vm.query.sort.propName == vm.SortColumns.InvoiceId,
                                                        'sorting': vm.query.sort.propName != vm.SortColumns.InvoiceId }"
                                tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name" width="70"
                                ng-click="vm.sorting(vm.SortColumns.InvoiceId);">
                                Invoice#
                            </th>
                            <th ng-class="{'sorting_desc': vm.query.sort.order == 1 && vm.query.sort.propName == vm.SortColumns.FranchiseeName,
                                                        'sorting_asc' : vm.query.sort.order == 0  && vm.query.sort.propName == vm.SortColumns.FranchiseeName,
                                                        'sorting': vm.query.sort.propName != vm.SortColumns.FranchiseeName }"
                                tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="FranchiseeName"
                                ng-click="vm.sorting(vm.SortColumns.FranchiseeName);" ng-if="vm.isSuperAdmin == true">
                                Franchisee
                            </th>
                            <th width="220" ng-class="{'sorting_desc': vm.query.sort.order == 1 && vm.query.sort.propName == vm.SortColumns.Name,
                                                        'sorting_asc' : vm.query.sort.order == 0  && vm.query.sort.propName == vm.SortColumns.Name,
                                                        'sorting': vm.query.sort.propName != vm.SortColumns.Name }"
                                tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name"
                                ng-click="vm.sorting(vm.SortColumns.Name);">
                                Customer
                            </th>
                            <th ng-class="{'sorting_desc': vm.query.sort.order == 1 && vm.query.sort.propName == vm.SortColumns.InvoiceDate,
                                                        'sorting_asc' : vm.query.sort.order == 0  && vm.query.sort.propName == vm.SortColumns.InvoiceDate,
                                                        'sorting': vm.query.sort.propName != vm.SortColumns.InvoiceDate }"
                                tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name"
                                width="100" ng-click="vm.sorting(vm.SortColumns.InvoiceDate);">
                                Invoice Date
                            </th>
                            <th ng-class="{'sorting_desc': vm.query.sort.order == 1 && vm.query.sort.propName == vm.SortColumns.QBInvoice,
                                                        'sorting_asc' : vm.query.sort.order == 0  && vm.query.sort.propName == vm.SortColumns.QBInvoice,
                                                        'sorting': vm.query.sort.propName != vm.SortColumns.QBInvoice }"
                                rowspan="1" colspan="1" aria-label="Email" width="100"
                                ng-click="vm.sorting(vm.SortColumns.QBInvoice);">
                                QB Invoice
                            </th>
                            <th ng-class="{'sorting_desc': vm.query.sort.order == 1 && vm.query.sort.propName == vm.SortColumns.StreetAddress,
                                                        'sorting_asc' : vm.query.sort.order == 0  && vm.query.sort.propName == vm.SortColumns.StreetAddress,
                                                        'sorting': vm.query.sort.propName != vm.SortColumns.StreetAddress }"
                                tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" aria-label="Address" width="300"
                                ng-click="vm.sorting(vm.SortColumns.StreetAddress);">
                                Street Address
                            </th>
                            <th ng-class="{'sorting_desc': vm.query.sort.order == 1 && vm.query.sort.propName == vm.SortColumns.City,
                                                        'sorting_asc' : vm.query.sort.order == 0  && vm.query.sort.propName == vm.SortColumns.City,
                                                        'sorting': vm.query.sort.propName != vm.SortColumns.City }"
                                tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" aria-label="City" width="200"
                                ng-click="vm.sorting(vm.SortColumns.City);">
                                City
                            </th>
                            <th ng-class="{'sorting_desc': vm.query.sort.order == 1 && vm.query.sort.propName == vm.SortColumns.State,
                                                        'sorting_asc' : vm.query.sort.order == 0  && vm.query.sort.propName == vm.SortColumns.State,
                                                        'sorting': vm.query.sort.propName != vm.SortColumns.State }"
                                tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" aria-label="State" width="150"
                                ng-click="vm.sorting(vm.SortColumns.State);">
                                State
                            </th>
                            <th ng-class="{'sorting_desc': vm.query.sort.order == 1 && vm.query.sort.propName == vm.SortColumns.ZipCode,
                                                        'sorting_asc' : vm.query.sort.order == 0  && vm.query.sort.propName == vm.SortColumns.ZipCode,
                                                        'sorting': vm.query.sort.propName != vm.SortColumns.ZipCode }"
                                tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" aria-label="Zipcode"
                                ng-click="vm.sorting(vm.SortColumns.ZipCode);">
                                Zip Code
                            </th>
                            <th width="100" ng-class="{'sorting_desc': vm.query.sort.order == 1 && vm.query.sort.propName == vm.SortColumns.Country,
                                                        'sorting_asc' : vm.query.sort.order == 0  && vm.query.sort.propName == vm.SortColumns.Country,
                                                        'sorting': vm.query.sort.propName != vm.SortColumns.Country }"
                                tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" aria-label="Country"
                                ng-click="vm.sorting(vm.SortColumns.Country);">
                                Country
                            </th>
                            <th ng-class="{'sorting_desc': vm.query.sort.order == 1 && vm.query.sort.propName == vm.SortColumns.TotalAmount,
                                                        'sorting_asc' : vm.query.sort.order == 0  && vm.query.sort.propName == vm.SortColumns.TotalAmount,
                                                        'sorting': vm.query.sort.propName != vm.SortColumns.TotalAmount }"
                                rowspan="1" colspan="1" aria-label="TotalAmount" style="line-height:20px;"
                                ng-click="vm.sorting(vm.SortColumns.TotalAmount);">
                                Total Amount
                            </th>
                            <th ng-class="{'sorting_desc': vm.query.sort.order == 1 && vm.query.sort.propName == vm.SortColumns.PaidAmount,
                                                        'sorting_asc' : vm.query.sort.order == 0  && vm.query.sort.propName == vm.SortColumns.PaidAmount,
                                                        'sorting': vm.query.sort.propName != vm.SortColumns.PaidAmount }"
                                rowspan="1" colspan="1" aria-label="PaidAmount" style="line-height:20px;"
                                ng-click="vm.sorting(vm.SortColumns.PaidAmount);">
                                Paid Amount
                            </th>
                            <th ng-class="{'sorting_desc': vm.query.sort.order == 1 && vm.query.sort.propName == vm.SortColumns.MarketingClass,
                                                        'sorting_asc' : vm.query.sort.order == 0  && vm.query.sort.propName == vm.SortColumns.MarketingClass,
                                                        'sorting': vm.query.sort.propName != vm.SortColumns.MarketingClass }"
                                rowspan="1" colspan="1" aria-label="PaidAmount" style="line-height:20px;"
                                ng-click="vm.sorting(vm.SortColumns.MarketingClass);">Marketing Class</th>
                            <!--<th class="sorting_disabled" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" width="150">

                            </th>-->
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in vm.salesDataList">
                            <td>{{item.invoiceId}}</td>
                            <td ng-if="vm.isSuperAdmin == true">
                            <a ng-click="vm.editFranchisee(item.franchiseeId)">{{item.franchiseeName}}</a></td>
                            <td>{{item.customerName}}</td>
                            <td>{{item.invoiceDate | dateTimeFilter : 'd'}}</td>
                            <td>{{item.qbInvoiceNumber}}</td>
                            <td>
                                <span ng-if="item.address != null && item.address.city != null">{{item.address.addressLine1}}</span>
                                <span ng-if="item.address != null &&item.address.addressLine2 != null">, {{item.address.addressLine2}} </span>
                            </td>
                            <td>  <span ng-if="item.address != null && item.address.city != null"> {{item.address.city}} </span> </td>
                            <td>  <span ng-if="item.address != null && item.address.city != null">{{item.address.state}}</span> </td>
                            <td>  <span ng-if="item.address != null && item.address.city != null"> {{item.address.zipCode}} </span> </td>
                            <td>  <span ng-if="item.address != null && item.address.country != null"> {{item.address.country}} </span> </td>

                            <td>
                                <span ng-if="item.totalAmount != null">
                                    {{item.totalAmount | currencyExchangeFilter:vm.currencyCode :item.currencyRate }}
                                </span>
                            </td>

                            <td> {{item.paidAmount | currencyExchangeFilter:vm.currencyCode :item.currencyRate }}</td>
                            <td>{{item.marketingClass | lowercase}}</td>

                            <!--<td>
                                <span ng-if="item.invoiceId > 0"><a ng-click="vm.viewInvoice(item.invoiceId)">View Invoice</a></span>
                            </td>-->
                        </tr>
                    </tbody>
                    <tr ng-if="vm.salesDataList.length == 0">
                        <td colspan="12" class="text-center"><span> No Records Found</span></td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="clearfix">
            <div class="pull-left">
                <div class="dataTables_info" id="sample_1_info" role="status" aria-live="polite" ng-if="vm.salesDataList.length > 0">
                    Showing
                    <span ng-if="(vm.query.pageNumber * vm.query.pageSize) <= vm.count">{{((vm.query.pageNumber -1) * vm.query.pageSize)+ 1}} to {{vm.query.pageNumber * vm.query.pageSize}} of {{vm.count}} </span>
                    <span ng-if="(vm.query.pageNumber * vm.query.pageSize) > vm.count">{{((vm.query.pageNumber - 1) * vm.query.pageSize)+ 1}} to {{vm.count}} of {{vm.count}} </span>
                    records
                </div>
            </div>
            <div class="pull-right" ng-if="vm.salesDataList.length < vm.count">
                <div class="dataTables_paginate paging_bootstrap_full_number" id="sample_1_paginate">
                    <ul uib-pagination boundary-links="true" total-items="vm.count" ng-change="vm.pageChange()" items-per-page="vm.query.pageSize"
                        ng-model="vm.query.pageNumber" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" max-size="'5'"
                        last-text="&raquo;"></ul>
                </div>
            </div>
        </div>
    </div>
    <!-- END EXAMPLE TABLE PORTLET-->


</div>

