<div class="modal-header">
    <h4 class="modal-title pull-left">Upload Customer List</h4>
    <a href="javascript:void(0);" ng-click="vm.close()" class="pull-right"><i class="fa fa-remove"></i></a>
</div>
<div class="modal-body overflow-y-visible">

    <form name="batchUploadForm">
        <div class="form-group form-md-line-input form-md-floating-label" ng-if="vm.isSuperAdmin == true">
            <select class="form-control" id="franchisee" name="franchisee" ng-model="vm.batch.franchiseeId"
                    ng-options="franchisee.value as franchisee.display for franchisee in vm.franchiseeCollection" required>
                <option selected disabled hidden style='display: none' value=''></option>
            </select>
            <label for="franchisee">Franchisee<span class="required" aria-required="true"> * </span></label>
            <div ng-show="batchUploadForm.franchisee.$dirty && batchUploadForm.franchisee.$invalid">
                <span class="text-danger" ng-if="batchUploadForm.franchisee.$error.required">
                    Franchisee is required.
                </span>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6">
                <date-picker-ts control-id="start-date" label="Start" model="vm.batch.periodStartDate" />
            </div>
            <div class="col-md-6">
                <date-picker-ts control-id="end-date" label="End" model="vm.batch.periodEndDate" />
            </div>
        </div>

        <div class="margin-bottom-40 margin-top-20">
            <label>File Uploader</label>

            <div ngf-drop="vm.uploadFile($file)" class="drop-box"
                 ngf-drag-over-class="'dragover'" ngf-multiple="false" ngf-allow-dir="true"
                 ngf-pattern="'.xlsx'">
                Drop sales file to upload
                <a href="javascript:void(0)" ngf-select="vm.uploadFile($file)" ngf-multiple="false" ngf-pattern="'.xlsx'" ngf-accept="'.xlsx'">Select File</a>
            </div>
            <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
        </div>
        <div class="margin-top-20" ng-if="vm.batch.file != null">
            <table class="table table-striped">
                <tr>
                    <th>Name</th>
                    <th>Size</th>
                </tr>
                <tr>
                    <td>
                        {{vm.batch.file.caption}}
                    </td>
                    <td>
                        {{vm.batch.file.size}} Bytes
                    </td>
                </tr>
            </table>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn blue" ng-disabled="batchUploadForm.$invalid" ng-click="vm.save();">Submit</button>
    <button type="button" class="btn default" ng-click="vm.close();">Cancel</button>
</div>
