<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="ConnectionString" connectionString="server=localhost; database=Makalu; User ID=Makalu; Password=MakaluUser12!; Port= 3308;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <appSettings>
    <!-- Review System Info -->
    <add key="ClientId" value="5a475638898b9b51b8fa2f241d24bc241ab8603b"/>
    <add key="ReviewApiKey" value="f823ff6d87d2705b35962e830c63cc167e8411c34fab16318b6169d08766991f"/>
    <!-- end -->
  </appSettings>
</configuration>