<div class="form-group form-md-line-input">
    <input id="{{controlId}}" name="{{controlId}}" type="month" class="form-control" ng-disabled="disabled" uib-datepicker-popup="{{format}}"
           ng-model="model" is-open="opened"
           datepicker-options="dateOptions" close-text="Close"
           show-button-bar="{{showButtonBar}}" ng-click="open()" alt-input-formats="alternateInputFormats" />
    <label for="{{controlId}}">{{label}}</label>
    <span class="required" aria-required="true">  </span>
</div>

