<style>
    .imageClass{
        position:relative;
        text-align: center;
    }
    .page-title{
        display:none;
    }
</style>
<div class="imageClass">
    <div>
        <img style="height: 407px; width: 500px;" src="/Content/images/404 (1).svg" />
    </div>
    <br />
    <span style="margin-top: 20px; font-weight: bold; font-size:22px; color: #26327e"> Page not found! <br /></span>
    <span style="font-style: italic; font-size: 16px;"> Sorry, we've misplaced that URL or it's pointing to something that doesn't exist.</span>
</div>